In [73]:
import pandas as pd
pd.set_option('display.max_rows', 50)

In [75]:
#loading neurommsig_mechanisms
#from mac
mechanisms=pd.read_excel('NeuroMMsig_AD.xlsx')

mechanisms

In [77]:
# drop irrelevant columns
mechanisms = mechanisms[['Subgraph Name','Genes']]

In [78]:
mechanisms.head(10)

            Subgraph Name  Genes
0  Amyloidogenic subgraph    APP
1                     NaN  APLP1
2                     NaN  APLP2
3                     NaN  APBA3
4                     NaN  APBA1
5                     NaN   CTSD
6                     NaN   PLD1
7                     NaN  APBA2
8                     NaN  APBB1
9                     NaN   CTSB

In [79]:
# fill NaNs
mechanisms=mechanisms.fillna(method='ffill')

In [80]:
# drop duplicates
mechanisms_dic=mechanisms_dic.drop_duplicates()

In [81]:
mechanisms_dic.head(10)

            Subgraph Name  Genes
0  Amyloidogenic subgraph    APP
1  Amyloidogenic subgraph  APLP1
2  Amyloidogenic subgraph  APLP2
3  Amyloidogenic subgraph  APBA3
4  Amyloidogenic subgraph  APBA1
5  Amyloidogenic subgraph   CTSD
6  Amyloidogenic subgraph   PLD1
7  Amyloidogenic subgraph  APBA2
8  Amyloidogenic subgraph  APBB1
9  Amyloidogenic subgraph   CTSB

In [84]:
# statistics
supgraphs=set(mechanisms_dic["Subgraph Name"])
print("Number of Mechanisms:",len(supgraphs))
genes_neurommsig=set(mechanisms_dic["Genes"])
print ("Number of genes:",len(genes_neurommsig))

Number of Mechanisms: 124
Number of genes: 903

In [60]:
mechanisms_dic

                         Subgraph Name  Genes
0               Amyloidogenic subgraph    APP
1               Amyloidogenic subgraph  APLP1
2               Amyloidogenic subgraph  APLP2
3               Amyloidogenic subgraph  APBA3
4               Amyloidogenic subgraph  APBA1
...                                ...    ...
1191  Epigenetic modification subgraph  MTHFR
1192  Epigenetic modification subgraph   RFC1
1193  Epigenetic modification subgraph    MTR
1194  Epigenetic modification subgraph  SIN3A
1196                     DKK1 subgraph   DKK1

[1069 rows x 2 columns]

In [85]:
# load gene-snps mapping
genes_to_snps=pd.read_csv("snps_gene_haploreg_gtex_meemansa_final.csv", sep=",")
genes_to_snps.columns = ['rsID', 'Genes']
genes_to_snps

             rsID        Genes
0      rs35833468        EGLN3
1       rs3219012         OGG1
2       rs2421847       PRRC2C
3      rs12592161       SPPL2A
4      rs12910731       SPPL2A
...           ...          ...
59275    rs600491  RP11-67L3.4
59276  rs10410539   AC006277.2
59277     rs11142        PSRC1
59278     rs11142        SYPL2
59279   rs1138272       DOC2GP

[59280 rows x 2 columns]

In [87]:
# statistics
snps_count=set(genes_to_snps["rsID"])
print("Number of SNPS:",len(snps_count))
genes_snpsmapping=set(genes_to_snps["Genes"])
print ("Number of Genes from snps_mapping:",len(genes_snpsmapping))

Number of SNPS: 35941
Number of Genes from snps_mapping: 2645

In [69]:
# merge
# we add all snps that can be mapped to genes, the rest is dismissed
final_mapping=pd.merge(mechanisms_dic, genes_to_snps, on="Genes")

In [88]:
final_mapping

                          Subgraph Name Genes         rsID
0                Amyloidogenic subgraph   APP   rs63750066
1                Amyloidogenic subgraph   APP  rs201732035
2                Amyloidogenic subgraph   APP   rs77830735
3                Amyloidogenic subgraph   APP   rs61040172
4                Amyloidogenic subgraph   APP    rs2000989
...                                 ...   ...          ...
23422  Epigenetic modification subgraph   MTR   rs10925262
23423  Epigenetic modification subgraph   MTR   rs72762130
23424  Epigenetic modification subgraph   MTR   rs72762132
23425  Epigenetic modification subgraph   MTR    rs1804742
23426  Epigenetic modification subgraph   MTR    rs1805087

[23427 rows x 3 columns]

In [89]:
# statistics
supgraphs=set(final_mapping["Subgraph Name"])
print("Number of Mechanisms used:",len(supgraphs))
genes=set(final_mapping["Genes"])
print ("Number of genes used:",len(genes_neurommsig))
snps_count=set(final_mapping["rsID"])
print("Number of SNPS used:",len(snps_count))

Number of Mechanisms used: 93
Number of genes used: 903
Number of SNPS used: 8083

In [90]:
# export 
final_mapping.to_csv("SNPsToGenesToMechansims_mapping_final.csv",header=True,index=True)

In [ ]:
########################################################################################